@using System.Runtime.InteropServices

<footer>
	<div class="footer-menu">
		<span class="logo-image">Martijn Bakker</span>
	</div>
	<p>Powered by @RuntimeInformation.FrameworkDescription</p>
	<p class="copyright">© Copyright 2024 Martijn Bakker</p>
</footer>